---
import Notice from "../../components/notice/notice.astro";
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
import danceGroups from "../../collections/dance/hgroups.json";
---

<Layout title="Anmälan - Dansskola i Höganäs / Viken">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Anmälan - Dansskola i Höganäs / Viken" />
    <div>
      <span class="text-red-600"><strong>OBS</strong></span>: Anmälan
      till Viken öppnar inom kort och görs på Vigörs hemsida:
      <a class="hover:underline" href="https://www.vigoriviken.se/">https://www.vigoriviken.se/</a>
      <br />
    </div>
  </section>
</Layout>
