---
import Notice from "../../components/notice/notice.astro";
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
import danceGroups from "../../collections/dance/hgroups.json";
---

<Layout title="Anmälan - Dansskola i Höganäs / Viken">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Anmälan - Dansskola i Höganäs / Viken" />
    <div>
      <p>Dansklasserna i Viken hålls i samarbete med förening Vigör.</p>
      <p>
        Anmälan till höstens danskurser görs på:
        <a class="hover:underline" href="https://www.vigoriviken.se/"
          >https://www.vigoriviken.se/</a
        >
      </p>
      <br />
    </div>
  </section>
</Layout>
