---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Sidan finns ej - Dansskola Höganäs & Åstorp - Moving Art">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title="Hoppsan, den sidan verkar inte finnas" />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <a class="underline" href="/">Gå tillbaka till huvudsidan.</a>
    </div>
  </section>
</Layout>
