---
import Button from "../components/button.astro";
import ThreeImageGallery from "../components/home/three-image-gallery.astro";
import Socials from "../components/socials/socials.astro";
import Layout from "../layouts/main.astro";
---

<Layout
  title="Dansskola Höganäs & Åstorp - Moving Art"
  metaDescription="Dansskola Moving Art i Höganäs & Åstorp för barn, ungdom, seniorer, nybörjare och avancerad inom stilar så som jazz, streetjazz och contemporary."
>
  <div class="relative z-20 w-full max-w-5xl mx-auto mt-16 px-3 xl:px-0">
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Moving Art Dance School
        </h1>
        <p class="font-semibold text-neutral-800 dark:text-neutral-200">
          En dansskola i Åstorp och Höganäs
        </p>
        <p class="mb-2 italic text-neutral-800 dark:text-neutral-200">
          Utveckling, rörelseglädje och gemenskap
        </p>
        <p class="text-base dark:text-neutral-200">
          Vårterminen är 12 tillfällen. Första tillfället är vecka 3. Uppehåll
          vecka 8 & 14.
        </p>
        <p class="mt-2 text-base dark:text-neutral-200">
          Första tillfället av terminen är ett prova på tillfälle. Dansaren
          MÅSTE vara anmäld för att få prova på.
        </p>
        <p class="mt-2 text-base dark:text-neutral-200">Välkomna!</p>
        <div class="flex flex-row gap-4 mt-4">
          <Button text="Anmälan Åstorp" link="/anmalan/astorp" />
          <Button text="Anmälan Höganäs" link="/anmalan/hoganas" />
        </div>
        <div class="flex flex-row gap-4 mt-8 ml-2">
          <Socials />
        </div>
      </div>
      <div class="relative w-full md:w-1/2">
        <ThreeImageGallery
          one="/assets/images/amanda/cropped.jpg"
          two="/assets/images/amanda/dancers_one.jpg"
          three="/assets/images/amanda/dancers_two_cropped.jpg"
        />
      </div>
    </div>
  </div>
</Layout>
