---
const { time, name, location, color, textColor = "" } = Astro.props;
---


<p class="bg-sky-700"></p>
<p class="bg-purple-700"></p>
<p class="bg-neutral-400"></p>

<tr class:list={[color, "text-white", "border-b"]}>
    <th scope="row" class="font-medium px-2 py-1">
        {time}
    </th>
    <td class="px-6 py-4">
        {name}
    </td>
    <td class="px-6 py-4">
        {location}
    </td>
</tr>