---
import { Icon } from "astro-icon/components";
---

<a
  href="https://www.instagram.com/movingartdanceschool/"
  target="_blank"
  class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
>
  <span class="sr-only">Instagram</span>
  <Icon name="instagram" size={33.5} />
</a>
<a
  href="https://facebook.com/movingartdanceschool/"
  target="_blank"
  class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
  style="margin-top: 2px;"
>
  <span class="sr-only">Facebook</span>
  <Icon name="facebook" size={28} />
</a>
