---
import PhoneNumber from "../form/phone-number.astro";

const { options } = Astro.props;
---

<form action="https://api.web3forms.com/submit" method="POST">
  <input
    type="hidden"
    name="access_key"
    value="493b6bcc-8fa7-4b67-ae0e-6f2b4166c4fe"
  />
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label
            for="name"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Dansarens namn *</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="name"
              id="name"
              autocomplete="given-name"
              class="ps-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="ssn"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Dansarens personnummer *</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="ssn"
              id="ssn"
              autocomplete="ssn"
              class="ps-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >E-post adress *</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              class="ps-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <PhoneNumber />
        </div>

        <div class="sm:col-span-full">
          <label
            for="country"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Önskad dansgrupp *</label
          >
          <div class="mt-2">
            <select
              id="country"
              name="country"
              autocomplete="country-name"
              class="ps-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            >
              {
                options.map(
                  (opt: {
                    value: string | number | string[] | null | undefined;
                    name: unknown;
                  }) => <option value={opt.value}>{opt.name}</option>,
                )
              }
            </select>
          </div>
        </div>

        <div class="col-span-full">
          <label
            for="about"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Övrig information</label
          >
          <div class="mt-2">
            <textarea
              id="about"
              name="about"
              rows="3"
              class="ps-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            ></textarea>
          </div>
        </div>
        <div class="sm:col-span-3">
          <div class="h-captcha" data-captcha="true"></div>
        </div>
        <div class="sm:col-span-3 flex items-center">
          <button
            type="submit"
            class="items-center h-12 flex w-full justify-center rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Skicka</button
          >
        </div>
      </div>
    </div>
  </div>
</form>

<script src="https://web3forms.com/client/script.js" async defer></script>
